h1{
    text-align: center;
}
.blue{
    background-color: aqua;
    color: black;
    height: 100px;
    
}
.red{
    background-color: red;
    color: black;
    height: 100px;
}
.green{
    background-color: green;
    color: aliceblue;
    height: 100px;
}
.yellow{
    background-color: yellow;
    color: black;
    height: 100px;
}