ul{ 
    list-style-type: none;
    background-color: gray;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}

li a{
    display: block;
    color:white;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
}

li a:hover{
    background-color: beige;
    color: black; 
}

.righty{
    float: right;
}
